@import url('https://fonts.googleapis.com/css?family=Asap');
body {
    background-color:#ebebe0;
    font-family: 'Asap', sans-serif;
}

.container {
    display: block;
    width:700px;
    margin: 13px auto;
    border: 1px solid #0000;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 0 12px 25px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    /* animation: grow 1.5s; */
}
#goals-title {
    margin: 15px auto;
    text-align: left;
    border-bottom: 1px solid #cbcbb3;
}

h2 {
    color: #00CED1;
    font-family: 'Asap', sans-serif !important;
    font-weight: bold !important;
}
h3 {
    font-family: 'Asap', sans-serif !important;
    font-weight: bold !important;
}
#head {
    margin-top:15px;
}

form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom:25px;
}
button {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 40px;
    margin: 10px 5px;
    cursor: pointer;
    float: right;
    transition: transform 0.2s;
    outline: none !important;
  }
 ul {
     margin: 0;
     padding: 0;
 }
 li * {
    float:center;
 }
 li {
    overflow: hidden;
    padding:20px 0;
    border-bottom: 1px solid #cbcbb3;
    margin-bottom: 5px;
 }
 li, h3 {
     clear:both;
     list-style: none;
 }
 li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }

  #goals-list {
      display: none;
  }
 input, button {
     outline: none;
 }

 li > .delete:hover {
    color: #09D502;
  }

 @keyframes grow {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .btn {
    background-color:#00CED1;
    font-family: 'Asap','sans-serif';
    font-weight: bold;
    border-color:#00CED1;
  }

  @media only screen 
and (min-device-width: 320px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .container {
        display: block;
        width:100%;
        margin: 0px auto;
        border: 1px solid #0000;
        border-radius: 5px 5px 5px 5px;
        background-color: white;
        animation: none;
    }
    #head {
        font-size: 55px !important;
    }

    #goals-title {
        margin: 10px auto;
    }
    li {
        display:flex;
        overflow: hidden;
        padding:5px 0;
        border-bottom: 1px solid #cbcbb3;
        margin-bottom: 5px;
     }
     li > label {
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        padding: 0 0 0 11px;
      }
}
