@import url('https://fonts.googleapis.com/css?family=Asap');
body {
    background: #eee !important;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}
.wrapper {
    margin-top:80px;
    margin-bottom:80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
  }
  .form-signin-heading{
    margin-bottom: 30px;
    text-align: center;
    font-weight:bold;
    margin-top:30px;

  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }

  input[type="email"] {
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type="text"] {
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #create-account {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .btn {
    background-color:#00CED1;
    font-family: 'Asap','sans-serif';
    font-weight: bold;
    border-color:#00CED1;
  }
  #logo-display {
    display:flex;
    top:0;
    left:0;
    background-color:#00CED1;
    justify-content:center;
    margin:0;
    width:100%;
  }


  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .form-signin {
      margin: 0 auto;
      background-color: #eee;
      height:100%; 
    }
    .wrapper {
      margin:0;
  }

    .form-signin {
      border: none;
    }
    .btn {
      background-color:#00CED1;
      font-family: 'Asap','sans-serif';
      font-weight: bold;
      font-size:1.2rem;
      border-color:#00CED1;
    }
    input[type="email"] {
      margin-bottom: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    input[type="password"] {
      margin-bottom: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    input[type="text"] {
      margin-bottom: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
}