<head>
    <meta charset="UTF-8">
    <meta name="description" content="User login page for Track it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Christian Mandapat">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href="/assets/css/user.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/accountview.js"></script>
</head>
<body>
    <div class = "wrapper">
        <div class = "form-signin">
            <h2 class = "form-signin-heading">Create Account</h2>
            <input id = "f_name" type = "text" class = "form-control" placeholder = "First Name"/>
            <div id = "fNameWarning" style = "display:none;"class="alert alert-danger" role="alert">Please Enter a name</div>
            <input id = "l_name" type = "text" class = "form-control" placeholder = "Last Name" />
            <div id = "lNameWarning" style = "display:none;"class="alert alert-danger" role="alert">Please Enter a last name</div>
            <input id = "email" type = "email" class = "form-control" placeholder = "Email Address" />
            <div id = "emailWarning" style = "display:none;"class="alert alert-danger" role="alert">Please Enter a valid email address</div>
            <input id = "password" type = "password" class = "form-control" placeholder = "Password"/>
            <div id = "passwordWarning" style = "display:none;"class="alert alert-danger" role="alert">Please Enter a password</div>
            <div id = "shortPassword" style = "display:none;"class="alert alert-danger" role="alert">Password must be at least 6 characters</div>
            <input id = "password2" type = "password" class = "form-control" placeholder = "Confirm Password"/>
            <div id = "password2Warning" style = "display:none;"class="alert alert-danger" role="alert">Please Enter a password</div>
            <div id = "emailExist" style = "display:none;"class="alert alert-danger" role="alert">This account already exists!</div>
            <button id = "create-account" class = "btn btn-lg btn-primary btn-block">Create Account</button>
        </div>
    </div>

</body>
