<head>
    <meta charset="UTF-8">
    <meta name="description" content="User login page for Track it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Christian Mandapat">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href="/assets/css/user.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src = "/assets/js/login.js"></script>
</head>
<body>
    <div class = "wrapper">
        <div class = "form-signin">
            <div id = "logo-display">
                 <img src = "/assets/img/trackitlogopng.png">
            </div>
           
            <h2 class ="form-signin-heading">Welcome!</h2>
            <input type = "email" class = "form-control" id="email" placeholder ="Email Address"/>
            <input type = "password" class = "form-control" id = "password"placeholder= "Password"/>
            <button id = "login" class="btn btn-lg btn-primary btn-block">Login</button> 
            <a id = "create-account" href = "/trackit/create-account">Create Account </a>
            <div id = "validWarning" style = "display:none;"class="alert alert-danger" role="alert">Enter Email or password</div>
            <div id = "loginWarning" style = "display:none;"class="alert alert-danger" role="alert">Email or password could be wrong</div>
        </div>
    </div>
</body>
