<head>
    <meta charset="UTF-8">
    <meta name="description" content="User login page for Track it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Christian Mandapat">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
Redirecting......

<script>
    $(document).ready(function(){
        $.ajax({
            type:"DELETE",
            url:"/trackit/logout",
            success:function() {
                window.location = "/trackit/login"
            }
        })
    });
</script>
</body>