<head>
    <meta charset="UTF-8">
    <meta name="description" content="User's Goals page for Track it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Christian Mandapat">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href="/assets/css/userpanel.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src= "/assets/js/userpanelview.js"></script>

</head>
<body>
    <div class = "container text-muted">
        <h2 id = "head" class = "display-3 text-center mb-5"> {{firstName}}'s <small style = "color:#ebebe0;">goals</small></h2>
        <input id = "task_description" class = "form-control" type = "text" placeholder = "enter task"/>
        <div id ="goals-list">
            <h3 id = "goals-title">In progress </h3>
            <ul id = "goals-container">
                {{#userTask}}
                    <li class = "goalstodo"> 
                        <label class = "task_descr">{{task_description}}</label>
                        <label>{{task_date}}</label>
                        <button onClick= "deleteTask(event);"class="delete"><i class="material-icons">check_circle_outline</i></button>
                    </li>
                {{/userTask}}
            </ul>
            <footer id = "active-goals">Active Tasks : {{totalTasks}} </footer>
    </div>
        <a id = "logout-a" href = "/trackit/logout">
            <button id = "logout-button" class="btn btn-lg btn-primary btn-block">
                logout
            </button> 
        </a>
    </div>
</body>
